<table border="0">
    <tr style="vertical-align: top;">
        <td>
            <div style="display: block; text-align: center">
                <figure class="image">
                    <img src="{{site.baseurl}}/{{include.left}}" alt="{{ include.left-desc }}" class="center" style="max-width: 80%">
                    <figcaption style="text-align: center; font-style: italic;">{{ include.left-desc }}</figcaption>
                </figure>
            </div>
        </td>
        <td>
            <div style="display: block; text-align: center">
                <figure class="image">
                    <img src="{{site.baseurl}}/{{include.right}}" alt="{{ include.right-desc }}" class="center" style="max-width: 80%">
                    <figcaption style="text-align: center; font-style: italic;">{{ include.right-desc }}</figcaption>
                </figure>
            </div>
        </td>
    </tr>
